<div class="filter" [ngClass]="{ hidden: isShown }">
  <form [formGroup]="filterForm">
    <div class="col">
      <input type="text" placeholder="name" formControlName="name" />
      <select formControlName="status">
        <option value="">-- Status --</option>
        <option value="Alive">Alive</option>
        <option value="Dead">Dead</option>
        <option value="unknown">unknown</option>
      </select>
    </div>
    <div class="col">
      <select formControlName="species">
        <option value="">-- Species --</option>
        <option value="Human">Human</option>
        <option value="Alien">Alien</option>
        <option value="Humanoid">Humanoid</option>
        <option value="Poopybutthole">Poopybutthole</option>
        <option value="Mythological Creature">Mythological Creature</option>
        <option value="Animal">Animal</option>
        <option value="Cronenberg">Cronenberg</option>
        <option value="Disease">Disease</option>
        <option value="Robot">Robot</option>
        <option value="unknown">unknown</option>
      </select>
      <select formControlName="gender">
        <option value="">-- Gender --</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Genderless">Genderless</option>
        <option value="unknown">unknown</option>
      </select>
    </div>
    <button (click)="onSubmit($event)" class="btn">Search..</button>
    <div class="result">
      <p>Count:</p>
      <p>{{ count }}</p>
    </div>
  </form>
</div>
