header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--color-card);
}

.icon {
  padding: 0.5rem;
  margin: 0 0.4rem;
  fill: var(--color-font);
}

.icon:hover {
  cursor: pointer;
}

h1 {
  font-family: "Archivo Black", sans-serif;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 0.8rem;
  }
}
