main {
  margin: 1rem 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.err {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-card);
  height: 3rem;
  border-radius: 0.5rem;
  color: red;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
